
.DS_Store
kcou/w_soccer/.ipynb_checkpoints/w_soc_vs_indiana_st-checkpoint.ipynb
kcou/.ipynb_checkpoints/KCOU_Sports-checkpoint.ipynb
kcou/volleyball/.ipynb_checkpoints/w_volleyball-checkpoint.ipynb
kcou/w_soccer/.ipynb_checkpoints/w_soc_vs_nebraska-checkpoint.ipynb
maneater/.ipynb_checkpoints/Agenda Web Scraper-checkpoint.ipynb
maneater/.ipynb_checkpoints/CPD_Analysis-checkpoint.ipynb
maneater/Agenda Web Scraper.ipynb
.DS_Store
